<p style="color: green"><%= notice %></p>

<%=form_with(url: movies_path, method: :get, data: { controller: 'search-form', turbo_frame: 'movies', turbo_action: 'advance' }) do |form|%>
  <%=form.label :query %>
  <%=form.text_field :query, data: { action: 'input->search-form#search' } %>
  <%=form.submit 'Search' %>
<% end %>

<h1>Movies</h1>

<%=render 'movies', movies: @movies %>

<%= link_to "New movie", new_movie_path %>
